/**design for landing page**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button {
    background-color: #F5F4DF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #576240;
    color: #FFFFFf;
    position: relative;
}
.nav-links, .header-icons {
    display: flex;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
}
.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 5px 0;
    transition: all 0.3s ease;
}
.responsive-search-icon {
    display: none; /* Initially hidden on desktop */
}
.nav-links {
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    list-style: none;
    margin-right:150px;
}
.nav-links li {
    margin-right: 20px;
    padding: 10px;
}
.nav-links a {
    color: #FFFFFf;
    text-decoration: none;
    font-size: 16px;
}
.logo img {
    height: 50px; 
    margin-left: 30px;
    margin-top:2px;
}
.header-icons {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header-actions {
    display: flex;
    align-items: center;
    margin-right: 17px; 
}
.header-actions-icon, .header-actions-icon-1 {
    width: 23px; 
    margin: 2px;
    margin-top: 8px;
}
.login-btn {
    background: none;
    border: 2px solid #FFFFFf;
    color: #FFFFFD;
    font-size:16px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    border-radius: 6px;
}
/* Sidebar styling */
.sidebar {
    position:fixed; /* Fixed to the side */
    top: 0;
    right: 0;
    width: 250px; /* Width of the sidebar */
    height: 100vh; /* Full viewport height */
    background-color: #576240; /* Sidebar background */
    color: #fff;
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensures it's above other content */
    transition: all 0.3s ease-in-out; /* Smooth transition */
    right: -250px;
    margin-top: 60px;
    overflow-y: auto; /* Allows scrolling if content overflows */
    font-family: 'Roboto';
    font-size: 16px;
}

.sidebar.active {
    display: block; /* Show the sidebar when active */
    right: 0;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #ffff;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.arrow-up{
    margin-left: 80%;
}
/* Responsive Navbar */
@media (max-width: 768px) {
    .nav-links, .header-icons {
        display: none !important;
    }

    .logo {
        flex: 1;
        display: block;
        text-align: left;
        margin-left: -20px;
    }

    /* Responsive container for search and hamburger */
    .responsive-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        margin-right: 10px;
    }

    .responsive-search-icon {
        display: block;
        margin-right: 10px;
    }

    .hamburger-menu {
        display: block;
    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #576240;
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    .nav-links li {
        margin-right: 0;
        padding: 15px;
        text-align: center;
        width: 100%;
    }

    .nav-links a {
        font-size: 18px;
    }

    .header-icons {
        margin-top: 10px;
        margin-right: 0;
    }
    .sidebar {
        width: 200px; /* Sidebar width on small screens */
        display: block;
        transition: 0.5s;
    }

    
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 532px;
    background: url('landingbackground.png') no-repeat center center;
    background-size: cover;
}
.hero-content {
    text-align: center;
}
.home-title {
    font-size: 90px;
    color: #F5F4DF;
    margin-top: 120px;
    font-family: 'Meltow San 300', sans-serif;
}
.home-text {
    font-size: 30px;
    color: #F5F4DF;
    font-family: 'Roboto';
    margin-top: -10px;
}
.shop-btn {
    background-color: #576240;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto';
}
.scroll-text-container {
    background-color: #576240;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    font-size: 21px;
    overflow: hidden;
    white-space: nowrap;
}
.scroll-text {
    display: inline-block;
    animation: scroll-text 1100s linear infinite;
    font-family: 'Meltow San 300', sans-serif;
 
}
@keyframes scroll-text {
    from {
        transform: translateX1(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


/*products design*/
.products-container {
    background-color: #F5F4DF; 
    text-align: center;
    padding: 30px;
}
.products-container h2 {
    font-size: 35px;
    color: #576240;
    font-family: 'Meltow San 300', sans-serif;
}
.products-container .product-cards {
    display: flex;
    justify-content: center;
    gap: 30px; 
    overflow-x: auto;
    padding:5px;
}
.product-card {
    width: 200px;
    height: 320px; 
    border: 3px solid #576240;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #F5F4DF; 
    margin-top: 10px;
}
.product-image img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 23px;
}
.card {
    padding: 20px;               
    border-radius: 8px;          
}

.card-content {
    padding: 10px;              
    display: flex;               
    flex-direction: column;      
    align-items: flex-start;     
    background-color: #576240;   
    width: 200px;                
    height: 35%;  
                  
}

.card-content h3 {
    font-size: 16px;             
    color: #FFFFFF;              
    margin-left: 5px;           
    font-weight: bold;           
    text-align: left;   
    font-family: 'Roboto';      
}

.card-content p {
    font-size: 12px;            
    color: #FFFFFF;             
    margin:5px; 
    font-family: 'Roboto';     
        
}
#price{
    font-size: 14px;            
    color: #FFFFFF;             
margin-left: 75px;   
margin-top: 2px;
font-family: 'Roboto'; 
}
.product-action {             
    display: flex;                  
    justify-content: center; 
    align-items: center;     
    width: 100%;                
}
.product-action button {
    width: 115px;
    height: 28px;
    background: none;
    border: 2px solid #FFFFFf;
    color: #FFFFFF;
    font-size:14px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    border-radius: 6px; 
}

/*story design*/
.story-section {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    background-image: url('about.png');
    background-size: cover;
    background-position: center;
}

.story-overlay {
    background-color: rgba(87, 98, 64, 0.8); 
    padding: 20px ;
    border-radius: 40px 40px 0 0; 
    text-align: center;
    max-width: 500px;
    height: 270px;
   
    margin-top: 25px;
}

.story-overlay h2 {
    font-size: 35px;
    margin-bottom: 16px;
    font-weight: normal;
    font-family: 'Meltow San 300',sans-serif; 
    color: #FFFFFf;   

}
.story-overlay p {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'roboto';
    color: #F5F3DF;      
    margin-top: 15px;
}
@media (max-width: 768px) {
    .features {
        justify-content: center; 
    }
    .feature-item {
        max-width: 100px; 
        padding: 10px; 
        flex: 0 0 50%; 
    }
    .feature-item h3, .feature-item p {
        font-size: 16px; 
    }
}

/* Why Choose Section */
.why-choose-section {
    background-color: #576240; 
    padding: 30px;
    text-align: center;
    color: #FFFFFF;
}
.why-choose-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #FFFFFF;
    font-family: 'Meltow San 300', sans-serif;
}
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    margin-bottom: 10px;
}
.feature-item {
    max-width: 150px;
    text-align: center;
    font-family: 'Roboto';      
}

.feature-icon {
    margin-bottom:5px;
}
.feature-item h3 {
    font-size: 20px;
    margin: 10px 0 5px;
    font-weight: bold;
    font-family: 'roboto';      
color: #F5F3DF;
}
.feature-item p {
    font-size: 12px;
    color: #f5f3df;
    font-family: 'roboto';      

}
@media (max-width: 768px) {
    .features-container {
        flex-direction: column;
        gap: 20px;
    }
    .feature-column {
        width: 100%; 
    }
    .feature-item1 {
        padding: 0 20px;
    }
}

/* Special Features Section */
.special-features-section {
    background-color: #F5F4DF;
    padding: 30px;
    text-align: center;
}
.special-features-section h2 {
    font-size: 35px;
    color: #576240;
    margin-bottom: 20px;
    font-family: 'Meltow San 300',sans-serif;
}
.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    position: relative;
}
.feature-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.feature-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 80px;
    font-family: 'Roboto';      
}
.feature-item1 img { 
    margin-bottom: 8px;
}
.feature-item1 p {
    font-size: 16px;
    color: #7E8768;
    margin: 0;
    font-family: 'roboto';      

}
.dashed-line {
    width: 100px;
    height: 2px;
    background: repeating-linear-gradient(to right, #576240, #576240 5px, transparent 10px, transparent 30px);
    position: absolute;
    top: 90%;
    transform: translateY(-20%); 
}
.left-column .feature-item1 .dashed-line {
    right: -60px;
}
.right-column .feature-item1 .dashed-line {
    left: -60px;
}
.product-image-container {
    text-align: center;
}

/* Personalized Routine Section */
.personalized-routine-section {
    background-color: #F5F4DF;
    padding: 30px;
    background-image: url('leafs.png');
    text-align: center;
}
.personalized-routine-section h2 {
    font-size: 35px;
    color: #576240;
    margin-bottom: 30px;
    font-family: 'Meltow San 300';
}
.routine-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.routine-image {
width: 550px;
    overflow: hidden;
    border-radius: 17px;
    margin-right: 110px;
}
.routine-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.routine-text {
    max-width: 300px;
    border-radius: 0px;;
    text-align: center;
    font-family: 'roboto';      

}

.routine-text p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'roboto';      

}
.scan-btn {
    background-color: #576240;
    color: #FFFFFd;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'roboto';      
    border-radius: 5px;
}


/* Customer Reviews Section */
.customer-reviews-section {
    background-color: #576240;
    padding:30px;
    text-align: center;
    color: #FFFFFF;
}

.customer-reviews-section h2 {
    font-size: 35px;
    color: #FFFFFF;
    
    margin-bottom: 20px;
    font-family: 'Meltow San 300';
}

.reviews-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.review-card {
    background-color: #FFFFFF;
    color: #333;
    border-radius: 27px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 330px;
    height: 130px;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.review-content {
    text-align: left;
    font-family: 'roboto';      

}

.stars {
    color: #576240;
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.review-content p {
    font-size: 12px;
    color: #000000;
    text-align: center;
    font-family: 'roboto';      

}

.customer-reviews-section {
    text-align: center;
}

.reviews-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
}

.review-card {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 30px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container {
    position: absolute;
    top: -20px;
    left: -20px;
    border-radius: 50%;
    overflow: hidden;
}

/* Footer style */
.footer {
    background-color: #F5F4DF;
    color: black;  
    padding: 10px ;
    display: flex;  
    align-items: center; 
    justify-content: space-between; 
    border: 1px solid black;
    margin-top: 0px; 
    font-family: 'roboto';      

}

.footer .logo img {
    height: 50px; 
    margin-left: 20px;
    margin-bottom:2px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;  
    margin-left: 5px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: black;  
    text-decoration: none;
    font-size: 12px;
   
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links li:first-child a {
    font-weight: bold; 
}

.footer input[type="email"] {
    border: 1px solid #FFFFFD;
    width: 228px;
    height: 28px;
    font-size: 8px;
    background-color: #576240;
    border-radius: 5px;

    
}
/* Style the placeholder text to appear in white */
.footer input[type="email"]::placeholder {
    color: #FFFFFF; /* Sets the placeholder text color to white */
    font-family: 'roboto';
    font-size: 10px;
    padding: 10px;
    font-size: 12px; 
}
.submit-btn {
    padding: 8px;
    margin-left: 4px; 
    
    background-color: #576240;  
    color: #FFFF;  
    cursor: pointer;  
    font-size: 8px;  
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: 12px;
}
#sign{
    margin-left: 10px;
    font-family: 'roboto';
    font-size: 12px;
    
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column; 
        align-items: center;
        padding: 20px;
    }
    .footer-content {
        justify-content: center;
        margin-top: 10px;
    }
    .footer-links {
        align-items: center;
        text-align: center;
    }
    .footer-links li {
        margin-bottom: 5px;
    }
    .submit-btn {
        font-size: 12px;  
    }
}

